RewriteEngine On
RewriteBase /providencia/

RewriteRule ^/?$ index.php [L]
RewriteRule ^acceder/?$ templates/accounts/login.php [L]

# templates 
RewriteRule ^dashboard/?$ templates/admin/dashboard.php [L]

#inventario 
RewriteRule ^almacenes/inventario?$ templates/sections/almacenes.php [L]

#vehiculos
RewriteRule ^vehiculos/registro?$ templates/sections/vehiculosEntrada.php [L] #Entrada y salida 
##RewriteRule ^vehiculos/salida?$ templates/sections/vehiculosSalida.php [L] #salida# descartado
##RewriteRule ^vehiculos/consulta?$ templates/sections/vehiculosConsulta.php [L] ##consulta descartado##

##DOCUMENTOS
RewriteRule ^vehiculos/documentos/recepcion?$ php/documentos/recepcion.php [L] #recepcion
RewriteRule ^vehiculos/documentos/despacho?$ php/documentos/despacho.php   [L] #despacho materia prima
RewriteRule ^vehiculos/documentos/producto_terminado?$ php/documentos/ordenTerminado.php   [L] #producto terminado
