RewriteEngine On
RewriteBase /providencia/

RewriteRule ^/?$ index.php [L]
RewriteRule ^acceder/?$ templates/accounts/login.php [L]

# templates 
RewriteRule ^dashboard/?$ templates/admin/dashboard.php [L]

#inventario 
RewriteRule ^almacenes/inventario?$ templates/sections/almacenes.php [L]
RewriteRule ^almacenes/productos?$ templates/sections/almacenes.php [L]
#vehiculos
RewriteRule ^vehiculos/entrada?$ templates/sections/vehiculosEntrada.php [L] ##entrada##
RewriteRule ^vehiculos/salida?$ templates/sections/vehiculosSalida.php [L] ##salida##
