RewriteEngine On
RewriteBase /providencia/

RewriteRule ^/?$ index.php [L]
RewriteRule ^acceder/?$ templates/accounts/login.php [L]

# templates
RewriteRule ^dashboard/?$ templates/admin/dashboard.php [L]