/* Variables globales */
:root {
    --datatable-primary: #1e3a8a;
    --datatable-border: #d9d9d9;
    --datatable-hover: #f0f8ff;
    --datatable-background: #f3f4f6;
    --datatable-text: #1e3a8a;
    --datatable-danger-bg: #f8d7da;
    --datatable-danger-text: #721c24;
    --datatable-success-bg: #d4edda;
    --datatable-success-text: #155724;
  }
  
  :root.dark {
    --datatable-background: #222;
    --datatable-text: #fff;
  }
  
  .datatable-wrapper.no-header .datatable-container {
    border-top: 1px solid var(--datatable-border);
  }
  
  .datatable-wrapper.no-footer .datatable-container {
    border-bottom: 1px solid var(--datatable-border);
  }
  
  .datatable-top,
  .datatable-bottom {
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .datatable-pagination {
    display: flex;
    justify-content: center;
  }
  
  .datatable-selector,
  .datatable-input {
    padding: 6px 12px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--datatable-border);
    transition: box-shadow 0.3s, border-color 0.3s;
  }
  
  .datatable-selector:focus,
  .datatable-input:focus {
    border-color: var(--datatable-primary);
    box-shadow: 0px 2px 8px rgba(30, 58, 138, 0.4);
    outline: none;
  }
  
  .datatable-info {
    margin: 7px 0;
    color: var(--datatable-primary);
  }
  
  /* Tabla */
  .table.dataTable {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
  }
  
  .table.dataTable th,
  .table.dataTable td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--datatable-border);
  }
  
  .table.dataTable th {
    background-color: var(--datatable-background);
    color: var(--datatable-text);
    font-weight: 600;
  }
  
  .table.dataTable tbody tr:hover {
    background-color: var(--datatable-hover);
  }
  
  .datatable-empty {
    text-align: center;
    color: var(--datatable-text);
    padding: 20px;
  }
  
  .table.dataTable .datatable-sorter {
    cursor: pointer;
    position: relative;
  }
  
  .table.dataTable .datatable-sorter::before,
  .table.dataTable .datatable-sorter::after {
    content: "";
    position: absolute;
    right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  
  .table.dataTable .datatable-sorter::before {
    border-top: 4px solid var(--datatable-primary);
    bottom: 4px;
  }
  
  .table.dataTable .datatable-sorter::after {
    border-bottom: 4px solid var(--datatable-primary);
    top: 4px;
  }
  
  .row-pendiente {
    background-color: var(--datatable-danger-bg);
    color: var(--datatable-danger-text);
  }
  
  .row-finalizado {
    background-color: var(--datatable-success-bg);
    color: var(--datatable-success-text);
  }
  